<input type="text" id="user">
<input type="password" id="password">
<button type="submit" onclick="login()">LOG IN</button>
<br>
<input type="text" id="manga_query" placeholder="manga">
<button onclick="search_manga()">Search Manga</button>
<br>
<div id="kindle"></div>
<br>
<div id="mangas">

</div>
<hr>
Kindle Chapters Title
<select name="" id="manga_alt_title">

</select>
<br>
Manga Language
<select name="" id="manga_langs">

</select>
<br>
<button onclick="get_chapters()">GetChapters</button>
<br>
<div id="manga_chapters">

</div>